@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body{
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: gray;
}

#calculator {

  margin: 10em auto;
}

#display{
  background-color: black;
  border-radius: 5px;
  text-align: right;
  color: white;
}

.btn{
  width: 20%;
  height: 20%;
  margin: 0 -2px;
  border: 1px solid black;
}
//
// #display{
//     height: 70px;
//     width: 550px;
//     margin:auto;
//     background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
//   	background: -moz-linear-gradient(top, #94c8ff, #ffffff);
//     margin-bottom: 5px;
//     text-align: right;
//     font-size: 60px;
//     padding: 0 5px;
//     border-radius: 5px;
// }
//
// #numbers, .operators {
// 	margin: auto;
// }
//
// .operators{
//   background-color: white;
// }
//
// #numbers a {
// 	display: block;
// 	width: 22%;
// 	height: 30%;
// 	float: left;
// 	text-decoration: none;
// 	color: black;
// 	text-align: center;
// 	font-size: 39px;
// 	padding: 2px;
// 	margin: 0;
// 	background-color: silver;
//   border: 2px solid black;
// 	border-radius: 3px;
//   box-shadow: 0 0 5px;
// }
//
// #numbers a:hover {
//   background-color: black;
//   color: white;
// }
//
// #operators {
//   padding-left: 0;
// }
//
// .operator {
// 	display: block;
// 	width: 22%;
// 	height: 35%;
// 	float: left;
// 	text-decoration: none;
// 	color: black;
// 	text-align: center;
// 	font-size: 39px;
// 	padding: 2px;
// 	margin: 1px;
//   border: 5px solid black;
// 	border-radius: 3px;
//   margin-top: 10px;
//   background-color: grey;
//   box-shadow: 0 0 5px;
// }
//
// #operators a:hover {
//   background-color: black;
//   color: white;
// }
