doctype html
html
  head
    meta(charset='utf-8')      
    title jQuery Demo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    
    #calculator
      #display
        
      #numbers
        a.number 7
        a.number 8
        a.number 9
        a.operator +
        a.number 4
        a.number 5
        a.number 6
        a.operator -
        a.number 1
        a.number 2
        a.number 3git 
        a.operator /
        a#decimal.operator .
        a.number 0
        a#clear C
        a.operator *
        a#square.operator x&#178
        a#root.operator &#8730;
        a#factorial.operator n!
        a#equal = 
        
        
        
        
        
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
      
