@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body{
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: gray;
}

#calculator {

  margin: 10em auto;
}

#display{
  background-color: black;
  border-radius: 5px;
  text-align: right;
  color: white;
  font-size: 2em;
}

.btn{
  width: 20%;
  height: 20%;
  margin: 0 -2px;
  border: 1px solid black;
}

.operator{
  background-color: #979fbe;
}

#equal{
  background-color: #b67f7f;
}

@media (max-width: 315px) {
  #calculator {
    display: a;
  }

  .btn {
    width: 25%;
  }
}
